<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<script></script>

<!-- less stylesheets (must be loaded prior to the script) -->
<link href="/static/main.less" rel="stylesheet/less" type="text/css" />

<!-- less.js scripts -->
<script src="/static/less-1.3.0.min.js"></script>    

<style type="text/css">
<!--
-->
</style>
</head>



<body>

<form method="post" action="/save/">{% csrf_token %}

<div class="element">
    <textarea name="question" 
    class="question">{{ question }}</textarea>
    <textarea name="answer" class="answer">{{ answer }}</textarea>
    <input type="submit" value="═╬═" />
        
    {% include 'menu.html' %}
    
</div>
</form>

</body>
</html>

